[% extends "templates/main.twig" %] [% block headerScripts %]
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap/namespaced-bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap/namespaced-bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/permissions/explain.css">
<link rel="stylesheet" type="text/css" href="/static/css/permissions/spinner.css">
<script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="/static/tmt_page.js"></script>
<script type="text/javascript" src="/static/js/permissions/explain.js"></script>
<script type="text/javascript" src="/static/js/employeeList.js"></script>
<script type="text/javascript">
    var group = [[templateData.area]]; // Get the current area ID from the controller
    var areaGuid = '[[templateData.areaGuid]]'; // Get the current area GUID from the controller
</script>
[% endblock %]
[% block content %]
<app ng-app="tmt_page">
    <div ng-controller="explainCtrl" class="bootstrap">
		<div class="row">
			<div class="col-sm-3" style="margin-top:20px">
				<div ng-include="'/static/html/employeeList.html'" id="employeeListWrapperDiv" ng-controller="listCtrl"></div>
			</div>
			<div class="col-sm-9">
				<h1 class="text-center">{{currentEmployee}}</h1>
				<div class="text-center">
					<a href="/permissions/groups">Return to groups page</a>
					<div ng-show="admin" style="font-weight:bold;font-size:1.2em">{{currentEmployee}} is an area admin</div>
				</div>
				<div class="row text-center" ng-hide="initialized">
					<img src="/static/images/spinner.gif" style="margin-top:80px">
				</div>
				<div class="row" ng-show="initialized">
					<div ng-repeat="group in groups | orderBy : 'Name'" class="groupDiv col-sm-12">
						<div class="page-header" style="margin-top:0px">
							<h3>
								<b>{{group.Name}} Group</b>
								<small>{{group.member}}</small>
								<span style="font-size:0.7em"
								  ng-show="group.member == 'implied membership'"
								  class="glyphicon glyphicon-question-sign"
								  data-toggle="tooltip"
								  data-placement="top"
								  title="This employee has all the permissions for this group, but is not a member of it" member-tooltip>
								</span>
							</h3>
						</div>
						<ul>
							<li ng-repeat="resource in group.resources">
								<b>{{resource.name}}</b>
								<ul>
									<li ng-repeat="verb in resource.verbs">
										<span>
											<span class="glyphicon glyphicon-ok" style="color:green;vertical-align:middle" ng-show="verb.hasPermission && currentEmployee != 'Select an employee...'"></span>
											<span class="glyphicon glyphicon-remove" style="color:red;vertical-align:middle" ng-show="!verb.hasPermission && currentEmployee != 'Select an employee...'"></span>
											<span style="vertical-align:middle">{{verb.name}}</span>
										</span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    </div>
</app>
[% endblock %] [% block footerScripts %] [% endblock %]
